.nav {
    grid-area: n;
    background-color: dimgrey;
    padding: 15px;
}
.item {
    color: white;
    text-decoration: none;
}

/*
.active {
    color: greenyellow;
}
*/
.active {
    color: greenyellow;
    text-decoration: none;
}